<a href="https://colab.research.google.com/github/sebojal/Clase/blob/main/Tarea6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

#Generando el dataframe
ventas = pd.read_csv('datos_ventas.csv')
ventas.head()

     Producto    Categoria       Fecha  Cantidad  Precio
0  Producto B  Categoria 1  2023-02-05        16   37.00
1  Producto A  Categoria 2  2022-08-24         5   30.24
2  Producto A  Categoria 2  2023-05-07         3   23.29
3  Producto C  Categoria 1  2023-01-07        13   28.30
4  Producto A  Categoria 1  2023-05-31        10   34.89

In [ ]:
#Me muestra cuentas categorias hay
ventas['Categoria'].unique()

array(['Categoria 1', 'Categoria 2'], dtype=object)

In [ ]:
#Agrupando por categoria y mostrandolo
ventas.groupby('Categoria')['Precio'].sum()

Categoria
Categoria 1    1312.14
Categoria 2    1576.67
Name: Precio, dtype: float64

In [ ]:
#Generando el promedio de cantidad de productos vendidos por venta
ventas['Cantidad'].mean()

9.57

In [ ]:
#Encontrar el producto más vendido y mostrar la cantidad total vendida
producto = ventas.groupby('Producto')['Cantidad'].sum().idxmax()
cantidad = ventas.groupby('Producto')['Cantidad'].sum().max()
print(f"El producto más vendido fue {producto} y se vendieron {cantidad} unidades")

El producto más vendido fue Producto B y se vendieron 371 unidades

In [ ]:
#Calcular el promedio de precios de venta de cada producto
ventas.groupby('Producto')['Precio'].mean()

Producto
Producto A    27.840000
Producto B    29.250857
Producto C    29.892963
Name: Precio, dtype: float64